<div class="table-header shadow"><span>Lista opon</span>
    <div class="addons">
      <mat-form-field class="search" appearance="fill">
        <mat-label>Szukaj</mat-label>
        <input matInput type="text" (keyup)="doFilter($event.target.value)">
        </mat-form-field>
    </div>
    
  </div>
  
  
  
  
  <div class="data-table">
      <table mat-table class="shadow" [dataSource]="dataSource" matSort>
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  > Lp. </th>
          <td mat-cell *matCellDef="let element let i = index"> {{i+1}} </td>
        </ng-container>
  
        <ng-container matColumnDef="carRegistrationNumber">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nr rejestracyjny </th>
          <td mat-cell *matCellDef="let element"> {{element.carRegistrationNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Samochód </th>
          <td mat-cell *matCellDef="let element"> {{element.car}} </td>
        </ng-container>
  
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Producent </th>
          <td mat-cell *matCellDef="let element"> {{element.model}}  </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
  
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} szt. </td>
        </ng-container>

        <ng-container matColumnDef="storagePlace">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Miejsce składowania </th>
          <td mat-cell *matCellDef="let element"> {{element.storagePlace}} </td>
        </ng-container>
  
  
       
        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td matTooltip="Edycja opon: {{element.model}}" [matTooltipPosition]="'above'" mat-cell *matCellDef="let element"><i routerLink="/tires/{{element.id}}" class="material-icons edit-icon">edit</i></td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator class="shadow" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>