<div class="form-group">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{label}}</mat-label>
        <mat-select disabled={{disabled}} [formControl]='ngControl.control' [class.is-invalid]='ngControl.invalid && ngControl.touched'>
            <mat-option *ngFor="let car of cars" [value]="car.id">{{car.brand}} {{car.model}} - {{car.registrationNumber}}</mat-option>
        </mat-select>
        <mat-error *ngIf="ngControl.control.errors?.required">
            Pole: "{{label}}" jest wymagane
        </mat-error>
    </mat-form-field>
</div>